{
  "[less]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "printWidth": 120,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "tabWidth": 2
}
