/**
  Grid Variables
 */

@nuwa-screen-sm: 768px;
@nuwa-screen-md: 992px;
@nuwa-screen-lg: 1200px;

@nuwa-screen-sm-min: @nuwa-screen-sm;
@nuwa-screen-md-min: @nuwa-screen-md;
@nuwa-screen-lg-min: @nuwa-screen-lg;

@nuwa-screen-xs-max: (@nuwa-screen-sm-min - 1);
@nuwa-screen-sm-max: (@nuwa-screen-md-min - 1);
@nuwa-screen-md-max: (@nuwa-screen-lg-min - 1);

@nuwa-grid-columns: 12;
@nuwa-grid-gutter-width: 30px;

@nuwa-container-tablet: (720px + @nuwa-grid-gutter-width);
@nuwa-container-desktop: (940px + @nuwa-grid-gutter-width);
@nuwa-container-large-desktop: (1140px + @nuwa-grid-gutter-width);

@nuwa-container-sm: @nuwa-container-tablet;
@nuwa-container-md: @nuwa-container-desktop;
@nuwa-container-lg: @nuwa-container-large-desktop;
