/**
  Base Style
 */

@import '../../variable';

.@{nuwa-prefix}-inline {
  display: inline;
}

.@{nuwa-prefix}-inline-block {
  display: inline-block;
}

.@{nuwa-prefix}-block {
  display: block;
  width: 100%;
}
